<div class = "setting">
    <div class = "setting-side">
        <h1>設定</h1>
            <div class = "link-box">
                <p><%= link_to "アカウント", user_path(current_user) %></p>
                <p><%= link_to "プロフィール",users_mypage_path(current_user) %></p>
            </div>
    </div>

    <div class = "setting-contents">
        <h2>プロフィール</h2>
        <p class = "edit-link"><%= link_to "編集", edit_user_path(current_user) %></p>
            <label class = "account-information">アイコン画像</label>
            <p class = " account-information-value"><%= image_tag @user.avatar.url %></p><br>
            <label class = "account-information">名前</label>
            <p class = "account-information-value"><%= @current_user.name %></p>
            <label class = "account-information">紹介文</label>
            <p class = "account-information-value"><%= @current_user.introduction %></p>
    </div>
</div>