<% if user_signed_in? %>
    <h1><%= @current_user.name %>のマイページ</h1>
<% else %>
    <h2>ユーザーページ</h2>
 <% end %>
 
<p><%= image_tag @user.avatar.url %></p>
<p>名前: <%= @current_user.name %></p>
<p>メールアドレス: <%= @current_user.email %></p>
<p>パスワード：******</p>
<p>紹介文: <%= @current_user.introduction %></p>
