<h3>予約内容の確認</h3>

<dl>
	<dt>施設名</dt>
	<dd><%= @reservation.room.name %></dd>
	<dt>チェックイン日</dt>
	<dd><%= @reservation.check_in.strftime("%Y/%m/%d") %></dd>
	<dt>チェックアウト日</dt>
	<dd><%= @reservation.check_out.strftime("%Y/%m/%d") %></dd>
	<dt>人数</dt>
	<dd><%= @reservation.how_many_people %></dd>
    <dt>宿泊日数</dt>
	<dd><%= @reservation.how_many_days %></dd> <!--宿泊日数と金額の計算式-->
    <dt>支払い金額</dt>
	<dd>¥<%= @reservation.total_price %></dd>
</dl>
<%= form_with model: [@room, @reservation] do |f| %>
	<%= f.hidden_field :check_in %>
	<%= f.hidden_field :check_out %>
	<%= f.hidden_field :how_many_people %>
	<%= f.hidden_field :room_id %>
	<%= f.hidden_field :user_id %>
	<%= f.submit "予約を確定する" %>
<% end %>
