<h3>施設の新規登録</h3>

<% if flash[:notice] %>
    <p class = "notice"><%= flash[:notice] %></p>
<% end%>

<%= render "shared/error", obj: @room %>

<%= form_with model: @room do |f| %>
    <table>
        <tr>
            <td><%= f.hidden_field :room_id, value: @room.id %></td>
        </tr>
        <tr>
            <th><%= f.label :name ,"施設名" %></th>
            <td><%= f.text_field :name %></td>
        </tr>

        <tr>
            <th><%= f.label :introduction ,"施設詳細" %></th>
            <td><%= f.text_field :introduction %></td>
        </tr>

        <tr>
            <th><%= f.label :price ,"料金" %></th>
            <td><%= f.text_field :price %></td>
        </tr>

        <tr>
            <th><%= f.label :address ,"住所" %></th>
            <td><%= f.text_field :address %></td>
        </tr>
        <tr>
            <th><%= f.label :img ,"施設画像" %></th>
            <td><%= f.file_field :img %>
                <%= f.hidden_field :img_cache %></td>
        </tr>
    </table>

    <div class = "buttons">
        <%= link_to "キャンセル", :rooms %>
        <%= f.submit "保存" %>
    </div>
<% end %>
