<!DOCTYPE html>
<html>
  <head>
    <title>宿泊予約システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
    <a class = "logo" href = "/">Potepan Share</a>
    <ul class = "login_signup">
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
    </header>

    <%= yield %>

    <footer>
      <div class = "footer_logo">Potepan Share</div>
      <p class = "copyright">Copyright © Potepan Share 2023 All rights reserved</p>
    </footer>

  </body>
</html>
