<!DOCTYPE html>
<html>
  <head>
    <title>宿泊予約システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
    <a class = "logo" href = "/">Potepan Share</a>
    <ul class = "login_signup">
      <% if user_signed_in? %>
        <li><%= current_user.name %></li>
          <div class = "dropdown">
            <ul class = "dropdown-menu">
              <li><%= link_to "施設の新規登録",  new_room_path %></li>
              <li><%= link_to "予約済み施設一覧", room_reservations_path(current_user.reservations) %></li>
              <li><%= link_to "登録済み施設一覧", rooms_path(current_user.rooms) %></li>
              <li><%= link_to "アカウント設定", users_mypage_path(current_user) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <li><%= image_tag current_user.avatar.url, class: "avatar" %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
    <script src = "header.js"></script>
    </header>

    <%= yield %>

    <footer>
      <div class = "footer_logo">Potepan Share</div>
      <p class = "copyright">Copyright © Potepan Share 2023 All rights reserved</p>
    </footer>

  </body>
</html>
